{%extends 'core/base.html' %}{% block content %} {% load static %}  

<div class="wrapper">
   {%csrf_token%}
    <section class="login-content">
       <div class="container h-100">
          <div class="row justify-content-center align-items-center height-self-center">
             <div class="col-md-5 col-sm-12 col-12 align-self-center">
                <div class="sign-user_card">
                   <div class="logo-detail">            
                         <div class="d-flex align-items-center"><img src="/static/core/assets/images/logo.png" class="img-fluid rounded-normal light-logo logo" alt="logo"> <h4 class="logo-title ml-3">NotePlus</h4></div>
                   </div>  
                   <h3 class="mb-2">Creador de examen</h3>
                   <p id="chan">Este es el editor de examenes, aqui puedes ver el examen que creaste a partir de los parametros que te pedimos, ahora llego el momento de revisarlo y corregirlo de acuerdo a lo que prefieras, puedes descargarlo en un formato compatible con moodle en el boton de abajo y tambien puedes consultar nuestro instructivo de como subirlo a la plataforma en el enlace abajo del boton</p>
                   <div style="background-color: white; border-color: black; border-radius: 5px; border: solid 2px">
                    <p contenteditable="True" id="editor"> AQUI ESTARA EL EXAMEN PARA EDITAR</p>
                   </div>
                   <div style="display: flex; flex-direction:column">
                      <button class="btn btn-primary" style="margin-top: 10px;" id ="downloadButton">Crear archivo para moodle</button>
                      <a href="../test-instructions/">Instructivo para subirlo a moodle</a>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
</div>
<script>
   const queryString = window.location.search;
   const urlParams = new URLSearchParams(queryString);
   const prompt = urlParams.get('prompt')
   const editor = document.getElementById("editor")

   rep =prompt.toString().replaceAll("||","<br>")
   editor.innerHTML = rep
      
   const boton = document.getElementById('downloadButton');
   boton.addEventListener('click', descargarArchivo);

   function descargarArchivo() {
      // Contenido del archivo
      const contenido = document.getElementById('editor').innerText;
      console.log(contenido)

      // Crear un objeto Blob (Binary Large Object)
      const blob = new Blob([contenido], { type: 'text/html' });

      // Crear un objeto URL (Uniform Resource Locator) para el Blob
      const url = window.URL.createObjectURL(blob);

      // Crear un elemento <a> para descargar el archivo
      const a = document.createElement('a');
      a.href = url;
      a.download = 'Examen.txt';
      a.click();

      window.URL.revokeObjectURL(url);
   }
    

</script>

{%endblock%}