{%extends 'core/base.html' %}{% block content %} {% load static %}  

<div class="wrapper">
    <section class="login-content">
       <div class="container h-100">
          <div class="row justify-content-center align-items-center height-self-center">
             <div class="col-md-5 col-sm-12 col-12 align-self-center">
                <div class="sign-user_card">
                   <div class="logo-detail">            
                         <div class="d-flex align-items-center"><img src="/static/core/assets/images/logo.png" class="img-fluid rounded-normal light-logo logo" alt="logo"> <h4 class="logo-title ml-3">NotePlus</h4></div>
                   </div>  
                   <h3 class="mb-2">Creador de examen</h3>
                   <p id="chan">Esta herramienta te permitira crear examenes a partir de ciertos parametros especificos, por favor llena todos los campos y dale ckick al boton de enviar para recibir tu examen personalizado.</p>
                   <div style="background-color: white; border-color: black; border-radius: 5px; border: solid 2px">
                    <p contenteditable="True" id="editor"> AQUI ESTARA EL EXAMEN PARA EDITAR</p>
                   </div>
                   <button class="btn btn-primary" style="margin-top: 10px;">Crear archivo para moodle</button>
                </div>
             </div>
          </div>
       </div>
    </section>
</div>
<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const prompt = urlParams.get('prompt')
    const editor = document.getElementById("editor")
    
    console.log(prompt);
    editor.innerHTML = prompt

</script>

{%endblock%}